@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './html.css';
@import '../node_modules/owls-lib/dist/styles/shadcn/index.css';

@layer base {

    /* DEFAULT THEME */
    :root {
        --base-100: 0 0% 96.08%;
        --base-200: 0 0% 100%;
        --base-300: 220 13.04% 90.98%;
        --content: 215 27.91% 16.86%;
        --primary: 201.3 96.3% 32.2%;
        --primary-base: 198.6 88.7% 48.4%;
        --primary-content: 0 0% 100%;
        --primary-hover: 201 90% 27.5%;
    }
    
    .dark {
        --base-100: 214.74 30.16% 12.35%;
        --base-200: 215 27.91% 16.86%;
        --base-300: 216 27.56% 24.9%;
        --content: 0 0% 98%;
        --primary: 202 80.3% 23.9%;
        --primary-base: 198.6 88.7% 48.4%;
        --primary-content: 0 0% 100%;
        --primary-hover: 204 80.2% 19.9%;
    }
    }

    
    .button .base-icon {
        width: 1rem;
        height: 1rem;
    }